@use "../../styles/partials/mixins" as *;

.Airoll {
  display: flex;
  flex-direction: column;
  @include desktop {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  @include marginLR();
  &__questionary {
    padding-left: 0%;
  }
  &__list-of-question {
    list-style: none;
    padding: 0%;
  }

  &__questions-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  &__question {
    width: calc(0.95 * 100%);
  }
  &__arrow {
    background-image: url("../../assets/icons/Sort\ Down.png");
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    &--down {
      transform: rotate(180deg);
    }
  }
}
