@use "../../styles/partials/mixins" as *;

.modal {
  position: relative;
  display: flex;
  list-style: none;
  @include tablet {
    order: 2;
    flex-direction: row;
    width: 60%;
    justify-content: space-between;
  }
  &__exit {
    @include tablet {
      background-image: url("../../assets/icons/Sort\ Down.png");
      width: 2rem;
      height: 2rem;
      order: 1;
      flex-direction: row;
      background-repeat: no-repeat;
      margin-bottom: auto;

      transform: rotate(180deg);
    }
  }
  &__answer {
    @include tablet {
      margin-top: 0%;
      width: 98%;
    }
  }
}
