@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
.journey {
  display: flex;
  margin-bottom: 2rem;
  flex-direction: column;

  @include tablet {
    margin-bottom: 5rem;
  }
  @include desktop {
    margin-bottom: 8rem;
  }
  &__container {
    width: 100%;
  }
  &__phone {
    height: 20rem;
    order: 1;
    @include tablet {
      height: 30rem;
      position: relative;
      left: 3rem;
    }
    @include desktop {
      height: 37rem;
      left: 5rem;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    font-weight: 400;
    font-size: 1rem;
    position: relative;
    left: 12rem;
    top: 15rem;
    width: 15rem;
    @include tablet {
      left: 18rem;
      width: 14rem;
      font-size: 1.5rem;
    }
    @include desktop {
      left: 25rem;
      font-size: 2.4rem;
      width: 20rem;
    }
  }
  &__bubbles {
    order: 2;
    float: right;
    position: relative;

    @include tablet {
      top: 18rem;
      width: 7rem;
    }
    @include desktop {
      top: 16rem;
      width: 10rem;
    }
  }
}
