@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

.hero {
  display: flex;
  flex-direction: column;
  &-img-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  &-text {
    font-size: 1.3rem;
    font-family: "Poppins-Bold";
    width: 1rem;
    position: absolute;
    top: 8rem;
    left: 1rem;
  }
  & img {
    width: 39%;
    height: 35rem;
    object-fit: cover;
  }
  &-image {
    &__left {
      object-position: -15% 0;
    }
  }
}
